<li id="tutor_session-<%= tutor_session.id %>" class="tutor_session_list">
<span class="subject"><%= tutor_session.subject %></span>
<span class="date"><%= tutor_session.date.strftime("%a, %B %d, %Y") %></span>
<span class="time"><%= tutor_session.starttime.time.strftime("%I:%M %p") %> - <%= tutor_session.endtime.time.strftime("%I:%M %p") %></span>
<span class="edit"><%= link_to "Edit",  edit_tutor_session_path %></span>
<span class="delete"><%= link_to "Delete", tutor_session_path,method: :delete,data: { confirm: 'Are you sure?' } %></span>
<!-- <span class="timestamp">

  Created <%= time_ago_in_words(tutor_session.created_at) %> ago.
</span> -->
</li>