<% provide(:title, "Edit session") %>
<%= render 'layouts/header' %>
<h2 id="page-title">Update your session</h2>

<div class="container">
  <%= form_with(model: @tutor_session) do |f| %>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
    </div>  
    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_select :date, prompt: {day: 'Select day', month: 'Select month', year: 'Select year'}, class: 'form-control' %>
    </div> 
    <div class="form-inline">
      <%= f.label :"Start time" %>
      <%= f.time_select :starttime, {ampm: true}, class: 'form-control' %> </br>
      <%= f.label :"End time" %>
      <%= f.time_select :endtime, {ampm: true}, class: 'form-control' %>
    </div>
    <%= f.submit "Save", class: 'btn btn-primary' %> 

  <% end %>

  <button class="btn btn-primary"><%= link_to 'Back', user_path %></button>
</div>