<% provide(:title, "Sign up") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
  <h1>Tutor 4 Me | Tutoring 4 Change</h1>
  <nav>
   <ul class="nav">
    <li class="nav"><%= link_to "Index",   root_path %></li>
    <li class="nav"><%= link_to "Help",   help_path %></li>
    <li class="nav"><%= link_to "About", about_path %></li>
    <li class="nav"><%= link_to "Contact", contact_path %></li>
  </ul>

  </nav>
  <h1>Sign up</h1>
  

      <%= form_for(@user, url: signup_path) do |f| %>
        <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <p>
        <%= f.label :username %><br>
        <%= f.text_field :username, class: 'form-control' %>
        </p>

        <p>
        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control' %>
        </p>

        <%= f.submit "Create my account"%>
      <% end %>
  </body>

</html>