<% provide(:title, "Sign up") %>
<%= render 'layouts/header' %>

  <h2 id="page-title">Sign up</h2>
  <%= form_for(@user, url:signup_path) do |form| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :"first name" %><br>
      <%= form.text_field :firstname %>
    </p>
	
    <p>
	   <%= form.label :"last name" %><br>
     <%= form.text_field :lastname %>
    </p>

    <p>
      <%= form.radio_button :gender, "male" %>
      <%= form.label :gender, "Male" %>
      <%= form.radio_button :gender, "female" %>
      <%= form.label :gender, "Female" %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>
	
    <p>
      <%= form.label :"email address" %><br>
      <%= form.email_field :username %>
    </p>
	
    <p>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </p>
	
    <p>
      <%= form.submit "Sign Up" %>
    </p>

      <% end %>
  </body>

</html>