<% provide(:title, @user.username) %>

<%= render 'layouts/header' %>

<div class="row">
<aside class="col-md-4">
	<p><strong> Welcome back, <span class="name"><%= @user.firstname %></span>!</strong></p>
  <section class="user_info">
  	<h2>Profile: </h2>
    <p><strong>Email address: </strong><%= @user.username %></p>
    <p><strong>City: </strong><span class="name"><%= @user.location %></span> </p>
    <button><%= link_to "Update profile",  edit_user_path %></button>
  </section>
</aside>
</div>