<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
  <h1>Tutor 4 Me | Tutoring 4 Change</h1>
  <nav>
  <ul class="nav">
    <li class="nav"><%= link_to "Index",   root_path %></li>
    <li class="nav"><%= link_to "Help",   help_path %></li>
    <li class="nav"><%= link_to "About", about_path %></li>
    <li class="nav"><%= link_to "Contact", contact_path %></li>
  </ul>
  </nav>
    <h1>Help</h1>
  </body>
</html>