<% provide(:title, @user.username) %>
<%= render 'layouts/header' %>
<div class="row">
<aside class="col-md-4">
  <section class="user_info">
    	<p><strong> Welcome back, <span class="name"><%= @user.firstname %></span>!</strong></p>
    	<h2>Profile: </h2>
      <p><strong>Account type: </strong><%= @user.role %></p></br>
      <p><strong>Full name: </strong><span class="name"><%= @user.firstname + " " + @user.lastname %></span></p>
      <p><strong>Email address: </strong><%= @user.username %></p>
      <p><strong>City: </strong><span class="name"><%= @user.location %></span> </p>
      <p><strong>Education Level: </strong><span class="name"><%= @user.education_level %></span> </p>

      <% if @user.role == "Tutor" %>
        <p><strong>School: </strong><span class="name"><%= @user.tutors.find(@user.id).school %></span> </p>
      <% end %>

      <p><button><%= link_to "Update profile",  edit_user_path %></button></p>
  </section>

  <section class="tutor_session">
  	<h3>Create new tutor session:</h3>
  <%= form_with scope: :tutor_session, url:tutor_sessions_path, local: true do |f| %>
    <!-- <div class="field"> -->
      <%= f.label :subject %>
      <%= f.text_field :subject %></br>
      <%= f.datetime_select :date, prompt: {day: 'Select day', month: 'Select month', year: 'Select year', hour: 'Select hour',minute: 'Select minute'} %><br>
    <!-- </div> -->
    <%= f.submit "Create"%>
  <% end %>
  </section>
</aside>
</div>

<section class="tutor_session">
<h3>Sessions (<%= @user.tutor_sessions.count %>)</h3>
<% if @user.tutor_sessions.any? %>
  <ol class="sessions">
  <%= render @user.tutor_sessions %>
  </ol>
  <% else %>
  <p>You currently have no upcoming tutor sessions. Add a tutor session above.</p>
  <% end %>
</section>

<section id="tutor_student">
  <% if @user.role == "Student" %>
  <h3> Tutor(s): </h3>
  <% elsif @user.role == "Tutor" %>
  <h3>Student(s): </h3>
  <% end %>
</section>


<style>
     #map {
       width: 40%;
       height: 300px;
       background-color: grey;
       float: right;
     }
</style>

   <div id="map"></div>
   <script>
     function initMap() {
       var uluru = {lat: 49.159567, lng: -122.842240};
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 9,
         center: uluru
       });
       var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
     }
   </script>

   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGOta3WsUQnTmwEbh-lGrzbeQNTJlu2YY&callback=initMap">
   </script>
