<% provide(:title, @user.username) %>
<%= render 'layouts/header' %>
<aside class="col-md-4">
  <section class="user_info">
  	<p><strong> Welcome back, <span class="name"><%= @user.firstname %></span>!</strong></p>
  	<h2>Profile: </h2>
    <p><strong>Account type: </strong><%= @user.role %></p></br>
    <p><strong>Full name: </strong><span class="name"><%= @user.firstname + " " + @user.lastname %></span></p>
    <p><strong>Email address: </strong><%= @user.username %></p>
    <p><strong>City: </strong><span class="name"><%= @user.location %></span> </p>
    <p><strong>Education Level: </strong><span class="name"><%= @user.education_level %></span> </p>

    <% if @user.role == "Tutor" %>
      </br>
      <p><strong>School: </strong><span class="name"><%= @user.tutors.find(@user.id).school %></span> </p>
      <p><strong>Rate (per hour): </strong><span class="name"><%= number_to_currency(@user.tutors.find(@user.id).rate) %></span> </p>
    <% end %>

    <p><button><%= link_to "Update profile",  edit_user_path %></button></p>
  </section>

  <section class="tutor_session">
  <h2>Sessions (<%= @user.tutor_sessions.count + TutorSession.where(student_id: @user.id).count + TutorSession.where(tutor_id: @user.id).count %>)</h2>
  <% if @user.tutor_sessions.any? || TutorSession.where(student_id: @user.id).any? || TutorSession.where(tutor_id: @user.id).any? %>
    <ol class="sessions">
    <%= render @user.tutor_sessions %>

    <% if @user.role == "Student" %>
      <% TutorSession.where(student_id: @user.id).each do |session| %>
        <%= render session %>
      <% end %>
    <% end %>

    <% if @user.role == "Tutor" %>
      <% TutorSession.where(tutor_id: @user.id).each do |session| %>
        <%= render session %>
      <% end %>
    <% end %>

    </ol>
    <% else %>
    <p>You currently have no upcoming tutor sessions. Add a tutor session below.</p>
    <% end %>

  </section>
  
  <section class="tutor_session">
  	<h3>Create new tutor session:</h3>
     <p><button><a href = "../redirect" > View Calendar </a></button></p>
  <%= form_with scope: :tutor_session, url:tutor_sessions_path, local: true do |f| %>
      <p>
        <%= f.label :subject %>
        <%= f.text_field :subject %>
      </p>

      <% if @user.role == "Student" %>

        <p>
          <%= f.label :"Tutored by: " %>
          <select name="tutor_session[tutor_id]">
            <% @user.students.find(@user.id).tutors.all.each do |t| %>
              <option value="<%= t.user_id %>"><%= User.find(t.user_id).firstname + " " + User.find(t.user_id).lastname%></option>
            <% end %>
          </select>
        </p> 
      
      <% elsif @user.role == "Tutor" %>

      <p>
        <%= f.label :"Tutoring: " %>
        <select name="tutor_session[student_id]">
          <% @user.tutors.find(@user.id).students.all.each do |s| %>
            <option value="<%= s.user_id %>"><%= User.find(s.user_id).firstname + " " + User.find(s.user_id).lastname%></option>
          <% end %>
        </select>
      </p> 

      <% end %>

      <p>
        <%= f.label :date %>
        <%= f.date_select :date, start_year: Date.current.year, start_month: Date.current.month %>
      </p>
      <p>
        <%= f.label :"Start time" %>
        <%= f.time_select :starttime, {ampm: true} %> </br>
        <%= f.label :"End time" %>
        <%= f.time_select :endtime, {ampm: true} %>
      </p>
      <p><%= f.submit "Create"%></p>
  <% end %>
  </section>

<section id="progress">
  <h2>Progress</h2>
  <% @user.tutor_sessions.all.each do |s| %>
    <% @totalHours += (s.endtime - s.starttime)/3600 %>
  <% end %>
  <% TutorSession.where(tutor_id: @user.id).each do |s| %>
    <% @totalHours += (s.endtime - s.starttime)/3600 %>
  <% end %>
  <% TutorSession.where(student_id: @user.id).each do |s| %>
    <% @totalHours += (s.endtime - s.starttime)/3600 %>
  <% end %>
  <p><strong>Total hours: </strong> <%= @totalHours %></p>
  <% if @user.role == "Tutor" %>
    <p><strong>Total amount paid: </strong> <%= number_to_currency(@totalHours * @user.tutors.find(@user.id).rate)%></p>
  <% end %>
</section>

<section id="tutor_student">
  <% if @user.role == "Student" %>
  <h2> Tutors (<%= @user.students.find(@user.id).tutors.count %>): </h2>
    <% if @user.students.find(@user.id).tutors.any? %>
      <ol> 
      <% @user.students.find(@user.id).tutors.all.each do |t| %>
        <li><p class="name"><%= User.find(t.user_id).firstname + " " + User.find(t.user_id).lastname%></p></li>
      <% end %>
      </ol>
    <% end %>

  <% elsif @user.role == "Tutor" %>
  <h2>Students (<%= @user.tutors.find(@user.id).students.count %>): </h2>
    <% if @user.tutors.find(@user.id).students.any? %>
      <ol> 
      <% @user.tutors.find(@user.id).students.all.each do |s| %>
        <li><p class="name"><%= User.find(s.user_id).firstname + " " + User.find(s.user_id).lastname%> </p></li>
      <% end %>
      </ol>
    <% end %>
    
  <% end %> 
</section>

</aside>


