<% provide(:title, @user.username) %>
<%= render 'layouts/header' %>
<div class="container">
  <section class="user_info">
  	<p><strong> Welcome back, <span class="name"><%= @user.firstname %></span>!</strong></p>
  	<h2>Profile</h2>
    <p><strong>Account type: </strong><%= @user.role %></p></br>
    <p><strong>Full name: </strong><span class="name"><%= @user.firstname + " " + @user.lastname %></span></p>
    <p><strong>Email address: </strong><%= @user.username %></p>
    <p><strong>City: </strong><span class="name"><%= @user.location %></span> </p>
    <p><strong>Education Level: </strong><span class="name"><%= @user.education_level %></span> </p>

    <% if @user.role == "Tutor" %>
      </br>
      <p><strong>School: </strong><span class="name"><%= @user.tutors.find(@user.id).school %></span> </p>
      <p><strong>Rate (per hour): </strong><span class="name"><%= number_to_currency(@user.tutors.find(@user.id).rate) %></span> </p>
      <p><strong>Bio: </strong><%= @user.tutors.find(@user.id).bio %></p>
      <p><strong>Subjects: </strong><span class="name"><%= @user.tutors.find(@user.id).subjects %></span> </p>
    <% end %>

    <p><%= link_to "Update profile",  edit_user_path, class: 'btn btn-primary' %></p>
  </section>
</div>

<div class="container">
  <section class="tutor_session">
  <h2>Sessions (<%= @user.tutor_sessions.count + TutorSession.where(student_id: @user.id).count + TutorSession.where(tutor_id: @user.id).count %>)</h2>
  <% if @user.tutor_sessions.any? || TutorSession.where(student_id: @user.id).any? || TutorSession.where(tutor_id: @user.id).any? %>
    <ol class="sessions">
    <%= render @user.tutor_sessions %>

    <% if @user.role == "Student" %>
      <% TutorSession.where(student_id: @user.id).each do |session| %>
        <%= render session %>
      <% end %>
    <% end %>

    <% if @user.role == "Tutor" %>
      <% TutorSession.where(tutor_id: @user.id).each do |session| %>
        <%= render session %>
      <% end %>
    <% end %>

    </ol>
    <% else %>
    <p>You currently have no upcoming tutor sessions. Add a tutor session below.</p>
    <% end %>
   <p><a href = "../redirect" ><button class="btn btn-primary"> View Calendar </button></a></p>
  </section>
  
  <section class="tutor_session">
  	<h3>Create new tutor session</h3>
   
    
    <%= form_with scope: :tutor_session, url:tutor_sessions_path, local: true do |f| %>
     <% if @tutor_session.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          Creating a tutor session contains <%= pluralize(@tutor_session.errors.count, "error") %>.
        </div>
        <ul>
          <% @tutor_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
    </div>

    <% if @user.role == "Student" %>

      <div class="form-group">
        <%= f.label :"Tutored by: " %>
        <select name="tutor_session[tutor_id]" class="form-control">
          <% @user.students.find(@user.id).tutors.all.each do |t| %>
            <option value="<%= t.user_id %>"><%= User.find(t.user_id).firstname + " " + User.find(t.user_id).lastname%></option>
          <% end %>
        </select>
      </div> 
      
      <% elsif @user.role == "Tutor" %>

        <div class="form-group">
          <%= f.label :"Tutoring: " %>
          <select name="tutor_session[student_id]" class="form-control">
            <% @user.tutors.find(@user.id).students.all.each do |s| %>
              <option value="<%= s.user_id %>" class="name"><%= User.find(s.user_id).firstname + " " + User.find(s.user_id).lastname%></option>
            <% end %>
          </select>
        </div> 

      <% end %>

      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_select :date, start_year: Date.current.year, start_month: Date.current.month, class: 'form-control' %>
      </div>

      <div class="form-inline">
        <%= f.label :"Start time" %>
        <%= f.time_select :starttime, {ampm: true}, class: 'form-control' %> </br>
        <%= f.label :"End time" %>
        <%= f.time_select :endtime, {ampm: true}, class: 'form-control' %>
      </div>
      
      <%= f.submit "Create", class: 'btn btn-primary' %>  
  <% end %>
  </section>
</div>

<div class="container">
  <section id="progress">
    <h2>Progress</h2>
    <% @user.tutor_sessions.all.each do |s| %>
      <% @totalHours += (s.endtime - s.starttime)/3600 %>
    <% end %>
    <% TutorSession.where(tutor_id: @user.id).each do |s| %>
      <% @totalHours += (s.endtime - s.starttime)/3600 %>
    <% end %>
    <% TutorSession.where(student_id: @user.id).each do |s| %>
      <% @totalHours += (s.endtime - s.starttime)/3600 %>
    <% end %>
    <p><strong>Total hours tutored: </strong> <%= @totalHours %></p>
    <% if @user.role == "Tutor" %>
      <p><strong>Total amount paid: </strong> <%= number_to_currency(@totalHours * @user.tutors.find(@user.id).rate)%></p>
    <% end %>
  </section>
</div>

<div class="container">
  <section id="tutor_student">
    <% if @user.role == "Student" %>
    <h2> Current Tutors (<%= @user.students.find(@user.id).tutors.count %>) </h2>
      <% if @user.students.find(@user.id).tutors.any? %>
        <ol> 
        <% @user.students.find(@user.id).tutors.all.each do |t| %>
          <li><p class="name"><%= User.find(t.user_id).firstname + " " + User.find(t.user_id).lastname%></p></li>
        <% end %>
        </ol>

      <% else %>
        <p>You currently have no tutors. Please choose and add one from <%= link_to "tutors page", tutors_path %>. </p>
      <% end %>

    <% elsif @user.role == "Tutor" %>
    <h2>Current Students (<%= @user.tutors.find(@user.id).students.count %>) </h2>
      <% if @user.tutors.find(@user.id).students.any? %>
        <ol> 
        <% @user.tutors.find(@user.id).students.all.each do |s| %>
          <li><p class="name"><%= User.find(s.user_id).firstname + " " + User.find(s.user_id).lastname%> </p></li>
        <% end %>
        </ol>
      <% end %>
      
    <% end %> 
  </section>
</div>


