<% provide(:title, "Tutors") %>
<%= render 'layouts/header' %>
<h2 id="page-title">Our Tutors</h2>

<% User.where(role: "Tutor").each do |user| %>
	<div class="container">
	<h3 class="name"><%= user.firstname + " " + user.lastname%></h3>
		<p><strong>Location: </strong><span class="name"><%= user.location %></span> </p>
		<p><strong>Education level: </strong><%= user.education_level %></p>
	 	<% Tutor.where(user_id: user.id).each do |tutor| %>
		 	<p><strong>School: </strong><span class="name"><%= tutor.school %></span>  </p>
		 	<p><strong>Rate: </strong><%= number_to_currency(tutor.rate) %>/hr</p>
		 	<p><strong>Bio: </strong><%= tutor.bio %></p>
		  <p><strong>Subjects: </strong><span class="name"><%= tutor.subjects %></span> </p>

      <p><strong>Comments from the students:</strong></p>
        <% user.comments.each do |comment| %>
          <p>
            <%= comment.body %>
          </p>
        <% end %>
        <p><strong>Add a comment:</strong></p>
            <%= form_with(model: [ user, user.comments.build ], local: true) do |form| %>
            <p>
                <%= form.text_field :body %>
            </p>
            <p>
                <%= form.submit %>
            </p>
            <% end %>
 
		    <% if current_user.role == "Student" %>
				<% if current_user.students.find(current_user.id).tutors.exists?(tutor.user_id) %>
					<p>You have already added this tutor.</p>

				<% else %>

					<%= link_to 'Add tutor', create_student_tutor_path(:tutor_id => tutor.user_id, :student_id => current_user.id), :method => :post, class: 'btn btn-primary', data: {title: 'Are You Sure?',confirm: 'Confirm to add this tutor', commit: 'Confirm'} %>

				<% end %>

			<% end %>
	 	<% end %>

	</div>
	</br>
<% end %>

